{% extends 'base.html' %}
    {% block title%}Questionaire Start{% endblock %}
    {% block page_name%}Questionaire{% endblock %}

    {% block content%}
    
    <h1>Choose a survey</h1>

    <form action="/init" method="post">
        <label for="choose_survey">Choose a survey:</label>
        <select id="survey" name="survey">
          <option value="satisfaction_survey">Satisfaction Survey</option>
          <option value="personality_survey">Personality Survey</option>
         
        </select>
        <input type="submit">
      </form>
    
    
    {% endblock %}